.ingredients{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    padding: 4% 4% 4% 4%;
    margin-top: 4%;
    border-radius: 8px;
    background-color:  #7cd831;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.main{
    margin-left: 10%;
    margin-right: 5%;
    width: 100%;
    padding-left: 15px;
    background-color:rgb(70, 70, 74);
    border-radius: 8px;
    padding-right: 10px;
    padding-bottom: 40px;
   
    padding-top: 2%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.search{
    outline: none;
    border: none;
    width: 80%;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    padding-left: 20px;
    }
.itemdiv{
    background-color:rgb(70, 70, 74) ;
   height: 40px;
   padding-top: 10px;
   padding-left: 10px;
   font-size: 20px;
   border-radius: 8px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   margin-top: -10px;
}    
