.NavContainer{
    width: 100%;
    color: white;
   border-radius: 8px;
  margin-left: 2%;
 background-color: rgb(70, 70, 74);
 height: 540px;
 margin-top: 2%;
 padding-top: 2%;
 position: sticky;

}
.logoutCon{
   margin-top: 340px;
}
.NavContainer>div{
    margin-left: 20%;
}
.uppercont>div{


padding-top: 30px;
}
.uppercont>div:hover{
    color: #b3f17f;
}