.MusicPage {
    background: linear-gradient(90deg, rgb(12, 12, 13) 0%, rgb(27, 25, 25) 100%);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* This will create three equal-width columns */
    padding-left: 50px;
    padding-top: 30px;
}
.MusicCard{
    background: linear-gradient(90deg, rgb(12, 12, 13) 0%, rgb(27, 25, 25) 100%);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 250px;
    height: 350px;
    line-height: 10px;
    padding-left:40px ;
    padding-top: 20px;
    margin-top: 30px;
    

}
audio{
    margin-top: -50px; 
}
