.box-Container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid gray;
}
.iconWithTitle {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.copyImage {
  position: relative;
  top: -20px;
}
.emojiTitle {
  font-size: 16px;
  font-weight: 600;
}
#search {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 95%;
  margin-left: 20px;
  margin-top: 10px;
}
#search:focus {
  outline: none !important;
}
.projectTitle {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
